##<IfModule mod_rewrite.c>

RewriteEngine On

##SITE

##RewriteCond %(REQUEST_FILENAME) !-f
##RewriteCond %(REQUEST_FILENAME) !-d
##RewriteRule ^busca/([a-z0-9]+)/([a-z0-9]+)/?$ index.php?page=produtos&busca=$1&categoria=$2

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^([a-z]+)/?$ index.php?page=$1

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^([a-z0-9]+)/ver/([a-z0-9]+)/(.*)/?$ index.php?page=$1&id=$2


##ADMIN

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^admin/?$ /app/webroot/login.php

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^admin/([a-z0-9]+)/?$ index.php?page=admin&id=$1

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^admin/add/([a-z0-9]+)$/? index.php?page=admin&id=$1&action=add

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^admin/edit/([a-z0-9]+)/([a-z0-9]+)$/? index.php?page=admin&id=$1&item=$2&action=edit

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^admin/model/([a-z0-9]+)/([a-z0-9]+)/([a-z0-9]+)/?$ app/model/AdminModel.php?page=admin&action=$1&id=$2&item=$3

##</IfModule>	

